{% load static %}

<div class="hero">
  <div class="container col-xxl-8">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img
          class="rounded-circle"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
          alt="Generic placeholder image"
          width="700"
          height="300"
        />
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3 hero-title">
          Dietética y Herboristería
        </h1>
        <p class="lead hero-description">
          Somos una dietetica familiar y tradicional que se encuentra trabajando
          hace más de 40 años. Ofrecemos productos de calidad, nacionales e
          importados como: Cereales, Especias, Frutos secos, Harinas, Hierbas
          naturales, Jalea Real, Legumbres, Miel, Polen.
        </p>
      </div>
    </div>
  </div>
</div>
