<div class="container section">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-4 text-center">
      <img
        class="rounded-circle"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
        alt="Generic placeholder image"
        width="140"
        height="140"
      />
      <h2>Hierbas Naturales</h2>
    </div>
    <div class="col-lg-4 text-center">
      <img
        class="rounded-circle"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
        alt="Generic placeholder image"
        width="140"
        height="140"
      />
      <h2>Especias</h2>
    </div>
    <div class="col-lg-4 text-center">
      <img
        class="rounded-circle"
        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
        alt="Generic placeholder image"
        width="140"
        height="140"
      />
      <h2>Harinas</h2>
    </div>
  </div>
</div>
