<div class="container section">
  <div class="text-center">
    <h1 class="display-5 fw-bold">Lorem ipsum dolor sit amet</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id tristique
        neque, vitae vestibulum nisi.
      </p>
    </div>

    <div class="row d-flex justify-content-center mb-5">
      <div class="col-md-4 text-center mt-5">
        <img
          class="rounded-circle"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
          alt="Generic placeholder image"
          width="140"
          height="140"
        />
        <h2 class="mt-3">Hierbas Naturales</h2>
      </div>
      <div class="col-md-4 text-center mt-5">
        <img
          class="rounded-circle"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
          alt="Generic placeholder image"
          width="140"
          height="140"
        />
        <h2 class="mt-3">Especias</h2>
      </div>
      <div class="col-md-4 text-center mt-5">
        <img
          class="rounded-circle"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
          alt="Generic placeholder image"
          width="140"
          height="140"
        />
        <h2 class="mt-3">Harinas</h2>
      </div>
      <div class="col-md-4 text-center mt-5">
        <img
          class="rounded-circle"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
          alt="Generic placeholder image"
          width="140"
          height="140"
        />
        <h2 class="mt-3">Legumbres</h2>
      </div>
      <div class="col-md-4 text-center mt-5">
        <img
          class="rounded-circle"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
          alt="Generic placeholder image"
          width="140"
          height="140"
        />
        <h2 class="mt-3">Frutos secos</h2>
      </div>
      <div class="col-md-4 text-center mt-5">
        <img
          class="rounded-circle"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
          alt="Generic placeholder image"
          width="140"
          height="140"
        />
        <h2 class="mt-3">Semillas</h2>
      </div>
    </div>
  </div>
</div>
