<div class="container section">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Nuestra dietética brinda productos</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id tristique
        neque, vitae vestibulum nisi. Donec eu tellus at ipsum feugiat
        facilisis. In porta, velit id blandit dictum, mi erat mollis eros, quis
        cursus dui mauris eget ex. Nulla maximus mauris sapien, quis egestas mi
        porta in. Duis malesuada erat sapien, commodo pulvinar nunc pellentesque
        ut. Pellentesque efficitur, erat eu gravida egestas, tortor ante laoreet
        nunc, sit amet posuere metus tellus at neque. Fusce sagittis metus diam,
        in malesuada dolor imperdiet sed.
      </p>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-4 text-center">
          <img
            class="rounded-circle"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            alt="Generic placeholder image"
            width="140"
            height="140"
          />
          <h2>Hierbas Naturales</h2>
        </div>
        <div class="col-lg-4 text-center">
          <img
            class="rounded-circle"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            alt="Generic placeholder image"
            width="140"
            height="140"
          />
          <h2>Especias</h2>
        </div>
        <div class="col-lg-4 text-center">
          <img
            class="rounded-circle"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            alt="Generic placeholder image"
            width="140"
            height="140"
          />
          <h2>Harinas</h2>
        </div>
      </div>
    </div>
  </div>
</div>
