<div class="types container">
  <div class="row d-flex justify-content-center product-type-container">
    <div class="col-lg-3 text-center product-type">
      <div class="product-type-info">logo-sin-gluten</div>
    </div>
    <div class="col-lg-3 text-center product-type">
      <div class="product-type-info">logo-vegano</div>
    </div>
    <div class="col-lg-3 text-center product-type">
      <div class="product-type-info">logo-natural</div>
    </div>
    <div class="col-lg-3 text-center product-type">
      <div class="product-type-info">logo-organico</div>
    </div>
  </div>
</div>
