<div class="types container">
  <div class="row d-flex justify-content-center product-type-container">
    <div class="col-lg-3 text-center product-type">
      <div class="product-type-info">{{ info.gluten_free_logo }}</div>
    </div>
    <div class="col-lg-3 text-center product-type">
      <div class="product-type-info">{{ info.vegan_logo }}</div>
    </div>
    <div class="col-lg-3 text-center product-type">
      <div class="product-type-info">{{ info.natural_logo }}</div>
    </div>
    <div class="col-lg-3 text-center product-type">
      <div class="product-type-info">{{ info.organic_logo }}</div>
    </div>
  </div>
</div>
