@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* Main */

:root {
  --dark-brown: #281511;
  --brown: #6e3b19;
  --green: #008237;
  --light-brown: #cea47b;
  --wheat: #f8edbe;
}

* {
  font-family: "Raleway", sans-serif;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a,
u {
  text-decoration: none !important;
  color: inherit !important;
}

.section {
  margin-top: 100px;
  margin-bottom: 100px;
}

h1 {
  color: var(--green);
}

/* Navbar */

.top-banner {
  height: 25px;
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
  background-color: var(--green);
  color: white;
}

@media only screen and (max-width: 1200px) {
  .top-banner {
    display: none;
    transition: all 0.2s ease-in-out;
  }
}

.fab,
.fas {
  margin-right: 0.5rem;
}

#separator {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.top-banner-icons {
  font-size: 1rem;
}

.navbar {
  height: 5rem;
  box-shadow: 0px 23px 38px 0px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: var(--green) !important;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  font-size: 1.3em !important;
}

.navbar-brand:hover {
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}

.nav-link,
.dropdown-item {
  color: #000 !important;
  transition: all 0.2s ease-in-out;
}

.navbar-brand:hover,
.nav-link:hover,
.dropdown-item:hover {
  color: var(--green) !important;
  transition: all 0.2s ease-in-out;
}

.navbar-toggler-icon {
  stroke: rgba(0, 0, 0, 0.5);
}

/* *** Home *** */

/* Hero */

.hero {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.hero-img {
  border-radius: 2%;
}

/* Products */

/* Types */

.types {
}

/* Recipes */

/* Contact */

/* Footer */

.footer {
  background-color: var(--wheat);
}
