@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* Main */

:root {
  --dark-brown: #281511;
  --brown: #6e3b19;
  --green: #009d00;
  --light-brown: #cea47b;
  --wheat: #f8edbe;
}

* {
  font-family: "Raleway", sans-serif;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
u {
  text-decoration: none !important;
  color: inherit !important;
}

.section {
  margin-top: 100px;
  margin-bottom: 100px;
}

h1 {
  color: var(--green);
}

.main-content {
  padding-top: 5em;
}

/* Navbar */

.top-banner {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 0.9rem;
  transition: all 0.1s ease-in-out;
  background-color: var(--green);
  color: white;
}

@media only screen and (max-width: 1200px) {
  .top-banner {
    display: none;
    transition: all 0.1s ease-in-out;
  }

  #navbar {
    margin-top: 0px !important;
  }
}

.fab,
.fas {
  margin-right: 0.5rem;
}

#separator {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.top-banner-icons {
  font-size: 1rem;
}

.navbar {
  margin-top: 30px;
  line-height: 3;
  box-shadow: 0px 23px 38px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out;
  background-color: white;
}

.navbar-brand {
  color: var(--green) !important;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  font-size: 1.3em !important;
}

.navbar-brand:hover {
  text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}

.nav-link,
.dropdown-item {
  color: #000 !important;
  transition: all 0.2s ease-in-out;
}

.navbar-brand:hover,
.nav-link:hover,
.dropdown-item:hover {
  color: var(--green) !important;
  transition: all 0.2s ease-in-out;
}

.navbar-toggler-icon {
  stroke: rgba(0, 0, 0, 0.5);
}

/* *** Home *** */

/* Hero */

.hero {
  padding-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.hero-img {
  border-radius: 2%;
}

/* Types */

.types {
  margin-top: -3em;
  border-radius: 10px;
}

.product-type-container {
  display: flex;
  align-items: center;
  box-shadow: 0px 23px 38px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.product-type-container .product-type:first-child {
  border-left-width: 2px !important;
  border-radius: 10px 0 0 10px;
}

.product-type-container .product-type:last-child {
  border-right-width: 2px !important;
  border-radius: 0 10px 10px 0;
}

.product-type {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  height: 100px;
  background-color: white;
  border-style: solid;
  border-width: 2px 1px 2px 1px;
  border-color: #d3d3d3;
  color: var(--green);
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.product-type:hover {
  color: white;
  background-color: var(--green);
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 991px) {
  .product-type {
    border-width: 1px 2px 1px 2px;
  }

  .product-type-container .product-type:first-child {
    border-top-width: 2px !important;
    border-radius: 10px 10px 0 0;
  }

  .product-type-container .product-type:last-child {
    border-bottom-width: 2px !important;
    border-radius: 0 0 10px 10px;
  }
}

/* Products */

/* Recipes */

/* Contact */

/* Footer */

.footer {
  background-color: #d9f7e0;
  height: 35em;
}

.footer-cols {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
}

.map-column {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.map-container {
  height: 20rem;
  width: 30rem;
}

.map-container iframe {
  box-shadow: 0px 23px 38px 0px rgba(0, 0, 0, 0.1);
}

.contact-column {
  padding-top: 1.5em;
  border-style: solid;
  border-width: 0 0 0 2px;
  border-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contact-info {
  line-height: 2rem;
}

.footer-contact-info h3 {
  padding-top: 1em;
}

.footer-lower {
  text-align: center;
  padding-top: 3rem;
}

.footer-open-time table {
  display: flex;
}

.underlined-table td:last-child {
  padding-left: 2em;
}

.underlined-table:hover {
  text-decoration: underline;
  cursor: default;
}

.expand {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.expand:after {
  display: block;
  content: "";
  border-bottom: solid 1px #212529;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%;
}

.expand:hover:after {
  transform: scaleX(1);
  transform-origin: 0 50%;
}

.footer-social-media {
  line-height: 2em;
  font-size: 1.5em;
}

.footer-social-media i {
  transition: all 0.2s ease-in-out;
}

.footer-social-media i:hover {
  color: var(--green);
  transition: all 0.2s ease-in-out;
}

.footer-lower {
  text-align: center;
  padding-top: 2rem;
  color: gray;
}

@media only screen and (max-width: 990px) {
  .map-column {
    display: none;
  }
  .contact-column {
    border-style: none;
  }
}

/* Categories and products */

.productbox-container {
  padding-top: 10em;
  padding-bottom: 3em;
}

.list-group-item.active {
  background-color: transparent !important;
  color: var(--green) !important;
  border-color: rgba(0, 0, 0, 0.125) !important;
  background-color: #f8f9fa !important;
}
