<div class="top-banner" id="top-banner">
  <div class="container">
    <div class="row">
      <div class="top-banner-icons col-sm-4">
        <a href="{{ contact.facebook_page }}" target="_blank"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a href="{{ contact.instagram_page }}" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="{{ contact.whatsapp_link }}" target="_blank"
          ><i class="fab fa-whatsapp"></i
        ></a>
      </div>

      <div class="top-banner-time col-sm-4 text-center">
        <span>{{ info.hours_oneline }}</span>
      </div>

      <div class="top-banner-contact col-sm-4 text-end">
        <a href="{{ contact.googlemaps_link }}" target="_blank">
          <i class="fas fa-map-marker-alt"></i>{{ contact.address }}
        </a>
        <span id="separator">|</span>
        <span><i class="fas fa-phone"></i>{{ contact.phone }}</span>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg fixed-top navbar-light" id="navbar">
  <div class="container">
    <a class="navbar-brand" href="{% url 'main-home' %}"
      >{{ info.store_name }}</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbartoggle"
      aria-controls="navbartoggle"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbartoggle">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main-home' %}">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Despensa</a
          >
          <ul class="dropdown-menu" aria-labelledby="dropdown">
            {% for category in categories|dictsort:"name" %}
            <li>
              <a
                class="dropdown-item"
                href="{% url 'main-products' category.slug %}"
                >{{ category.name }}</a
              >
            </li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Recetas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
